<section class="d-flex flex-column align-items-center">
  <h3>Editar Colecci贸n</h3>
      <form action="/colection/{{colectionDetails._id}}/edit-form" method="POST" enctype="multipart/form-data" >
       <div class="card container-colection-edit" style="width: 40rem;">
         <div class="mb-3">
           <label for="title">Titulo de la Colecci贸n:</label>
           <input type="text" name="title" class="form-control" id="formGroupExampleInput" value="{{colectionDetails.title}}">
         </div>
         <div class="mb-3">
           <label for="description">Descripci贸n:</label>
           <input type="text" name="description" class="form-control" id="formGroupExampleInput" value="{{colectionDetails.description}}">
         </div>
         <div class="mb-3">
            <label for="img">Imagen del producto</label>
            <input type="file" name="img" class="form-control" id="formGroupExampleInput" />
         </div>
         <div class="mb-3">
          <label for="products" class="form-label">Elija productos</label>
           <select name="productos" class="form-select" multiple="true">

             {{#each allProducts}}
               <option value="{{this._id}}">{{this.productType}}</option>
             {{/each}}
           </select>          
         </div>
         <div class="mb-3">
           <button type="submit" class="btn btn-primary btn-lg">Editar Colecci贸n</button>
         </div>

       </div>
      </form>