<div>
  {{#each colectionList}}

    <a href="/colection/{{_id}}/details"><h3>{{title}}</h3></a>
    <p>{{description}}</p>
    <div>
      <img src="{{img}}" alt="imagen de colección" />
    </div>

    {{#if adminIsActive}}

    <a href="/colection/{{_id}}/edit-form">
      <button>Editar Colección</button>
    </a>
    <br/>
    <form action="/colection/{{_id}}/delete" method="POST">
      <button>Borrar Colección</button>
    </form>
    {{/if}}
  {{/each}}

</div>