<div>
  {{#each colectionList}}
    
      <a href="/colection/{{_id}}/details"><h3>{{title}}</h3></a>

    <p>{{description}}</p>
    {{#each productos}}
      <p>{{this.productType}}</p>
      <div>
        <img src="{{img}}" alt="imagen de colección">
      </div>
    {{/each}}
       {{!-- {{#if userRole.role === "admin"}} --}}

    <br />
 
     {{!-- {{/if}} --}}
  {{/each}}

</div>