<div>
    <h3>Detalles del producto</h3>
 
    <h4>Tipo: {{productDetails.productType}}</h4>
    <p>Descripción: {{productDetails.description}}</p>
    <p>Temporada: {{productDetails.temporada}}</p>
    
    <p>Color: {{productDetails.color}}</p>
    <p>Talla: {{productDetails.size}}</p>
    <p>Precio: {{productDetails.cost}}€</p>
    <div>
        <img src="{{productDetails.img}}" alt="imagen">
    </div>
    <div>
        {{#each commentDetails}}
        <p>Comentario de {{owner.username}}: {{description}}</p>
        {{/each}}
    </div>
    <div>
        <form action="/product/{{productDetails._id}}/details/add-comment" method="post">
        <label for="title">Escribe el titulo</label>
        <input type="text" name="title">
        <br>
        <label for="description">Deja aquí tu comentario:</label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <button>Añadir comentario</button>
        </form>
    </div>
 
</div>