<div>
    <h3>Detalles del producto</h3>
 
    <h4>Tipo: {{productDetails.productType}}</h4>
    <p>Descripción: {{productDetails.description}}</p>
    <p>Temporada: {{productDetails.temporada}}</p>
    
    <p>Color: {{productDetails.color}}</p>
    <p>Talla: {{productDetails.size}}</p>
    <p>Precio: {{productDetails.cost}}€</p>
    <div>
        <img src="{{productDetails.img}}" alt="imagen">
    </div>
 
</div>