<div>
  <h3>Lista de los Productos</h3>
  <p>...</p>

  {{#each listProduct}}
    <h3>
      <a href="/product/{{_id}}/details">{{productType}}</a>
    </h3>
    {{#if isAdmin}}
      <p>{{cost}}</p>
    {{/if}}
        <a href="/product/{{_id}}/edit-form">
<button>Editar Producto</button>
    </a>
      <br>
<form action="/product/{{_id}}/delete" method="POST">
<button>Borrar Producto</button>
</form>
  {{/each}}

</div>