
  <h3>Lista de los Productos</h3>
  

  {{!-- {{#each listProduct}}
    <h3>
      <a href="/product/{{_id}}/details">{{productType}}</a>
    </h3>  
      <p>Precio: {{cost}}€</p>
      <form action="/product/{{_id}}/add-favoritos" method="post">
        <button>Añadir a favoritos</button>
      </form>
      {{#if ../isAdminActive}}
        <a href="/product/{{_id}}/edit-form">
      
           <button>Editar Producto</button>
        </a>
        <br>
        <form action="/product/{{_id}}/delete" method="POST">
            <button>Borrar Producto</button>
        </form>
       {{/if}}
  {{/each}}

</div> --}}

{{#each listProduct}}
<div class="card container-product-list" style="width: 25rem;">

   <div class="image-product-list">
    <img src="{{img}}" class="card-img-top" alt="producto">
   </div>
   <div class="product-list">
      <div class="card-body">
        <a href="/product/{{_id}}/details"><h5 class="card-title">Tipo:{{productType}}</h5></a>
     </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: {{cost}}€</li>
      </ul>
      <div class="card-body">
        <form action="/product/{{_id}}/add-favoritos" method="post">
          <button class="btn btn-outline-primary">Añadir a favoritos</button>
        </form>
      {{#if ../isAdminActive}}
        <a href="/product/{{_id}}/edit-form">      
          <button class="btn btn-outline-primary">Editar Producto</button>
        </a>
        <form action="/product/{{_id}}/delete" method="POST">
          <button class="btn btn-outline-primary" >Borrar Producto</button>
        </form>
      </div>      
      
        {{/if}}
    </div>
</div>
     {{/each}}
