{{!-- <div id="div-search">

  <h3>Busca un producto</h3>

  <form >
      <p>NOMBRE DEL PRODUCTO</p>
      <input name="productType" type="text">
      <br>
      <p>COLOR</p>
      <input name="color" type="text">
      <p>Talla</p>
      <input name="size" type="text">
      <button>Buscar</button>
      <br>
      
  </form>

  <div>
    <p>resultados de busqueda:</p>
      {{#each details}}
       <h4>Producto: {{productType}}</h4>
       <img src="{{img}}" alt="producto">
  </div>
  <br>
  <div>
      <a href="/product/{{_id}}/details">Detalles del producto</a>
  </div>
      {{/each}}
</div> --}}

<section class="d-flex flex-column align-items-center">
  <h3>Busca un producto</h3>
<div class="container-busqueda">
  
  <div class=" card busqueda" style="width: 30rem">
  <form>
   <div class="mb-3">
      <p>NOMBRE DEL PRODUCTO</p>
      <input name="productType" type="text" class="form-control" id="formGroupExampleInput">
   </div>
   <div class="mb-3">
      <p>COLOR</p>
      <input name="color" type="text" class="form-control" id="formGroupExampleInput">
   </div>
   <div class="mb-3">
    <p>Talla</p>
      <input name="size" type="text" class="form-control" id="formGroupExampleInput">
   </div>
   <div class="mb-3" class="form-control" id="formGroupExampleInput">
      <button class="btn btn-primary btn-sm">Buscar</button>
   </div>
  </form>
  </div>

  <div class=" card resultado-busqueda" style="width: 30rem">
   <div class="mb-3">
    <h3>Resultados de busqueda:</h3>
   </div>
   {{#each details}}
   <div class="mb-3">
     <h4>{{productType}}</h4>
   </div>
   <div class="mb-3">
    <img src="{{img}}" class="card-img-top" alt="producto"> 
   </div>
   <div class="mb-3">
    <a href="/product/{{_id}}/details"><buttonm class="btn btn-outline-danger">Detalles del producto</button></a>
   </div>
   {{/each}}
   </div>
</div>


</section>