<div>
    {{#each blogList}}
    <h3>{{title}}</h3>
    <img src="{{img}}">
   
    <p>{{description}}</p>
    <a href="/blog/{{_id}}/edit-form">
    {{#if ../isAdminActive}}
<button>Editar Blog</button>
    </a>
      <br>
<form action="/blog/{{_id}}/delete" method="POST">
<button>Borrar Blog</button>
</form>
    {{/if}}
    
    {{/each}}
</div>